{% extends 'base.html' %}
{% block title%} DoVocab{% endblock %}
{% block body %}
{% load extras %}
{% load extras2 %}

<div class="container mt-4">
    <h2 style="color:#ce1a97;"><span id="typed"></span> </h2>
    <div class="accordion" id="accordionExample">

        {% for item in user  %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">



                <button class="accordion-button" style="background-color: white;" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapse{{item.sno}}" aria-expanded="true"
                    aria-controls="collapse{{item.sno}}">

                    <b> Attempt # {{item.task.title}}</b>
                    <b style="left: 60%; position: absolute;">Marks:{{item.points}}</b>
                </button>




            </h2>
            
            <div id="collapse{{item.sno}}" class="accordion-collapse collapse " aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">

                {% for item1 in item.task.sno|get_item %}
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-9">
                            <b>Q NO: {{item1.sno}}</b>
                            {% if item1.correct_opt ==  item.user_choosen|check:forloop.counter %}

                            <h5><span class="badge text-bg-info mx-3">Correct Answer</span></h5>
                            {% endif %}


                        </div>
                        <div class="col-3">
                            {% if item1.correct_opt ==  item.user_choosen|check:forloop.counter %}

                            <b>Marks: 1/1</b>
                            {% else %}
                            <b>Marks: 0/1</b>

                            {% endif %}


                        </div>
                    </div>
                    <div class="my-3">
                        {{item1.ques}}
                    </div>
                    {% comment %} {{item.user_choosen|check:forloop.counter}} {% endcomment %}
                    <div class="container ">
                        <div style="border: 1px solid black; border-radius: 10px; height: 60px; font-size: large;" class="my-1">
                            <div class="row my-1 ">
                                <div class="col-7">
                                    <p class="mx-2">
                                        {{item1.opt1}}</p>

                                </div>

                                <div class="col-5">
                                    {% if 1 == item1.correct_opt %}
                                        <span class="badge text-bg-success">Correct Option</span>
                                        

                                        

                                    {% endif %}
                                    {% if 1 ==  item.user_choosen|check:forloop.counter %}
                                    
                                    <span class="badge text-bg-danger">You Selected</span>
                                        
                                    {% endif %}
                                    

                                </div>
                            </div>

                        </div>
                        <div class="my-1" style="border: 1px solid black; border-radius:  10px; height: 60px; font-size: large;">
                            <div class="row my-1 ">
                                <div class="col-7">
                                    <p class="mx-2">
                                        {{item1.opt2}}</p>

                                </div>
                                <div class="col-5">
                                    {% if 2 == item1.correct_opt %}

                                        <span class="badge text-bg-success">Correct Option</span>

                                    {% endif %}
                                    {% if 2 ==  item.user_choosen|check:forloop.counter %}
                                    <div>
                                    <span class="badge text-bg-danger">You Selected</span>
                                     </div>

                                        
                                    {% endif %}


                                </div>
                            </div>

                        </div>
                        <div class="my-1" style="border: 1px solid black; border-radius: 10px; height: 60px; font-size: large;">
                            <div class="row my-1 ">
                                <div class="col-7">
                                    <p class="mx-2">
                                        {{item1.opt3}}</p>

                                </div>
                                <div class="col-5">
                                    {% if 3 == item1.correct_opt %}

                                        <span class="badge text-bg-success">Correct Option</span>

                                    {% endif %}
                                    {% if 3 ==  item.user_choosen|check:forloop.counter %}
                                    <span class="badge text-bg-danger">You Selected</span>

                                        
                                    {% endif %}
                                    

                                </div>
                            </div>

                        </div>
                        <div class="my-1" style="border: 1px solid black; border-radius: 10px; height: 60px; font-size: large;">
                            <div class="row my-1 ">
                                <div class="col-7">
                                    <p class="mx-2">
                                        {{item1.opt4}}</p>

                                </div>
                                <div class="col-5">
                                    {% if 4 == item1.correct_opt %}

                                    <span class="badge text-bg-success">Correct Option</span>

                                    
                                    {% endif %}
                                    {% if 4 ==  item.user_choosen|check:forloop.counter %}
                                    
                                    <span class="badge text-bg-danger">You Selected</span>

                                    {% endif %}
                                    

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            
        </div>
        {% endfor %}


    </div>



</div>
{% endblock body %}


{% block js %}

<script>
    var typed = new Typed('#typed', {
        strings: ["Attempt History",],
        backSpeed: 15,
        smartBackspace: true,
        backDelay: 2200,
        startDelay: 1000,
        typeSpeed: 25,
        loop: false,
        showCursor: true,

    });
</script>
{% endblock js %}
