{% extends 'base.html' %}
{% block title%} DoVocab{% endblock %}


{% block prog %}
<div>
    <p style="height: 8px ; margin-left: 25px;"><span id="count">{{count}}</span>/300 questions solved</p>
    <div class="progress mx-3" role="progressbar" aria-label="Example with label" aria-valuenow="25"
    aria-valuemin="0" aria-valuemax="100" style="width: 200px;">
    
    <div class="progress-bar bg-success" id="progressbar"></div>
</div>
</div>
{% endblock prog %}

{% block css %}
<style>
    input {
        background-color: wheat;
        border: none;
        text-decoration: underline;
        color: blue;
        font-size: x-large;
    }
    body {
        /* background: url('/media/pexels-rafael-guajardo-604684.jpg') no-repeat center center; */
    }
</style>
{% endblock css %}

{% block body %}


<h1 class="text-center my-4" style="color: #ce1a97; font-family: inherit;"><span id="typed"></span></h1>

{% if not user.is_anonymous %}

<div class="container mt-4">
    {% for task in task %}
    <div>
        {% if task.test_unlock == 'False' and forloop.counter != 1 %}
        <div class="my-1" style="border: 1px solid black; padding:10px; background-color: wheat;">
            <div class="row " style="margin-left: -5px;">
                <div class="col-10">
                    <a style="font-size: x-large; color: blue; text-decoration: underline;">{{task.task.title}}</a>
                    <span class="badge text-bg-danger mx-1">Locked</span>


                </div>
                <div class="col-2">
                    <i class="fas fa-lock"></i>
                </div>
            </div>
        </div>

        {% else %}
        <div class="my-1" style="border: 1px solid black; padding:10px; background-color: wheat;">
            <div class="row">
                <div class="col-8">
                    {% if task.test_status == "True" %}

                        <input type="submit" value="{{task.task.title}}">
                        <span class="badge text-bg-success">Completed</span>

                    
                    {% else %}
                    <form action="/day/{{task.task.sno}}/test" method="post">{% csrf_token %}
                        <input type="submit" value="{{task.task.title}}">
                        <span class="badge text-bg-warning">Pending</span>

                    </form>
                    {% endif %}


                </div>

                <div class="col-2">
                    <h5><span class="badge text-bg-success">{{task.points}}/10</span></h5>

                </div>
                <div class="col-2 ">
                    {% if task.test_status == "True" %}

                    <i class="fas fa-check-circle"></i>

                    {% else %}

                    <i class="fas fa-lock-open"></i>
                    {% endif %}

                </div>
            </div>
        </div>

        {% endif %}

    </div>

    {% endfor %}
</div>

{% else %}
<div class="text-center">
    <h2 class="text-center">Login to see your daily task's</h2>

    <a style="background-color: #ce1a97; border: none;" href="/login/" type="button"
        class="btn btn-primary mx-1 my-1">Login</a>
</div>

{% endif %}

<footer class="text-center text-white" style="background-color: #f1f1f1;">

    <div class="text-center text-dark mt-3" id="foot" style="background-color: white; color: #7e22ce !important;bottom: 0; margin-top: 50px !important; ">



        © 2023 Copyright:
        <a class="text-dark" href="https://DoVocab's.com/">DoVocab's.com</a>

        <!-- Instagram -->
        <a class="btn btn-link btn-floating btn-lg text-dark" target="_blank" href="https://www.instagram.com/i_agarwal_ansh/"
            role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

        <!-- Linkedin -->
        <a class="btn btn-link btn-floating btn-lg text-dark" target="_blank" href="https://www.linkedin.com/in/ansh-agarwal-390797253/"
            role="button" data-mdb-ripple-color="dark" style="margin: -15px !important;"><i
                class="fab fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-link btn-floating btn-lg text-dark" target="_blank" href="https://github.com/the-error4-0-4" role="button"
            data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>

    </div>
    <!-- Copyright -->
</footer>

{% endblock body %}


{% block js %}

<script>
    var typed = new Typed('#typed', {
        strings: ["Your Daily Tasks","1st Week Challenge",'Complete this to proceed'],
        backSpeed: 15,
        smartBackspace: true,
        backDelay: 2200,
        startDelay: 1000,
        typeSpeed: 25,
        loop: true,
        showCursor: true,

    });

    let x1=document.getElementById('count').innerHTML
    console.log(x1)
    let percent=Math.ceil(parseInt(x1)*100/300)
    console.log(percent)
    document.getElementById('progressbar').style.width=percent+"%";



</script>
{% endblock js %}