{% extends 'base.html' %}
{% block title%} DoVocab{% endblock %}

{% block css %}
<style>
    input {
        background-color: white;
        border: none;
        text-decoration: underline;
        color: blue;
        font-size: x-large;
    }
</style>
{% endblock css %}

{% block body %}

<h1 class="text-center my-4" style="color: #ce1a97; font-family: inherit;"><span id="typed"></span></h1>

{% if not user.is_anonymous %}

<div class="container mt-4">
    {% for task in task %}
    <div>
        {% if task.test_unlock == 'False' and forloop.counter != 1 %}
        <div style="border: 1px solid black; padding:10px;">
            <div class="row">
                <div class="col-10">
                    <a style="font-size: x-large; color: #066afe; text-decoration: underline;">{{task.task.title}}</a>

                </div>
                <div class="col-2">
                    <i class="fas fa-lock"></i>
                </div>
            </div>
        </div>

        {% else %}
        <div class="my-1" style="border: 1px solid black; padding:10px;">
            <div class="row">
                <div class="col-8">
                    <form action="/day/{{task.task.sno}}/test" method="post">{% csrf_token %}
                        <input type="submit" value="{{task.task.title}}">
                    </form>
                </div>
                <div class="col-2">
                    <h5><span class="badge text-bg-success">{{task.points}}/10</span></h5>

                </div>
                <div class="col-2 ">

                    <i class="fas fa-lock-open"></i>
                </div>
            </div>
        </div>

        {% endif %}

    </div>

    {% endfor %}
</div>

{% else %}
<div class="text-center">
    <h2 class="text-center">Login to see your daily task's</h2>

    <a style="background-color: #ce1a97; border: none;" href="/login/" type="button"
        class="btn btn-primary mx-1 my-1">Login</a>
</div>

{% endif %}


{% endblock body %}


{% block js %}

<script>
    var typed = new Typed('#typed', {
        strings: ["Your Daily Tasks",],
        backSpeed: 15,
        smartBackspace: true,
        backDelay: 2200,
        startDelay: 1000,
        typeSpeed: 25,
        loop: true,
        showCursor: true,

    });

</script>
{% endblock js %}